assets/adv2.jpg
assets/adv2.png
assets/adv3.png
assets/advf.png
assets/view-source_https___www.freecodecamp.org_news_just-in-time-compilation-explained_#_~_text=An interpreter directly executes the,compiles it to machine code..html
test.html
